/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- MY STYLES --- */

/* --- GENERAL STYLES --- */

body {
	background-color: #FF9C77;
}

h1 {
	font-size: 22px;
	margin-left: 12px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	text-align: center;
}

p {
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	text-align: center;
}

.nav-flex {
	background-color: #EBAB43;
}

/* --- MOBILE STYLES --- */

/* --- NAVIGATION ---*/

.container { 
    width: 393px;
    margin: 0 auto;
    background-color: #FF9C77;
	padding: 0;
}


.logo {
	margin-left: 6px;
}

.nav-lines {
	font-size: 32px;
}

.nav-words {
   display: none;
}

/* --- HOME PAGE --- */

#name {
	font-size: 42px;
}

.banner {
	width: 100%;
}


.logo {
    width: 46px;
}

.skills {
	text-align: center;
}

.social i {
	font-size: 52px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
	background-color: black;
	padding: 24px 54px 24px 54px;
	max-height: 96.7px;
	margin-bottom: 27px;
}

#twitter-logo {
	font-size: 45.5px;
	margin-left: 10px;
}

/* --- ABOUT US --- */

.image-crop {
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

/* --- I used https://cssgradient.io/ to get this gradient code --- */

.resume-btn, .submit-btn {
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	padding: 12px;
	background: rgb(245,200,41);
	background: radial-gradient(circle, rgba(245,200,41,1) 0%, rgba(245,200,41,1) 33%, rgba(227,102,47,1) 75%);
	color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #707070;
	border-radius: 14px;
}

.hobbies .container {
	background-color: #231F20;
	color: #FF9C77
}

.hobby-img {
	border-style: solid;
	border-width: 16px;
	border-color: #FF9C77;
}

/* --- CONTACT PAGE --- */

.contact-logo {
	width: 46px;
	display: block;
	margin: 0 auto;
}

.phone {
	display: none;
}

.rates .container {
	background-color: #231F20;
	color: #FF9C77
}

#message {
	width: 362px;
	height: 189px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	resize: none;
}


.submit-btn {
	width: 160px;
}

/* --- PROJECTS PAGE --- */

.folder-list img {
	display: none;
}

.academic .container {
	background-color: #FF9C77;
	padding-top: 48px;
	padding-bottom: 74px;
	line-height: 35px;
}

.work .container {
	background-color: #EBAB43;
	padding-top: 82px;
	padding-bottom: 82px;
	line-height: 35px;
}

.personal .container {
	background-color: #FF9C77;
	padding-top: 82px;
	padding-bottom: 82px;
	line-height: 35px;
}

:root  {
	--bs-primary: #EBAB43;
	--bs-primary-rgb: 235, 171, 67;
  }


/*
@media screen and (min-width: 834px) {
	.invisible {
		visibility: visible !important;
	  }
	  
}

@media screen and (min-width: 1366px) {
    
}
*/
